<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include("../partials/head"); %>
</head>
<body>
    <header>
        <!-- Including EJS header -->
        <%- include('../partials/header', {variant: 'compact'}); %>
    </header>

    <main>
        <% for( let i=0 ; i < 10001; i++) { %>
            <p><%= i %></p>
        <% } %>
    </main>

    <footer>
        <!-- Including EJS footer -->
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>