<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Including EJS Head -->
     <%- include("../partials/head"); %>
    <title>EJS HOME-PAGE</title>
</head>
<body className="container">
    <header>
        <!-- Including EJS header -->
        <%- include('../partials/header', {variant: 'compact'}); %>
    </header>
    
</body>
</html>